In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
df = pd.read_csv('Activity.CSV', index_col=False)

In [8]:
df.head(10)

,Details,Posting Date,Description,Amount,Type,Balance,Check or Slip #
0,DEBIT,07/24/2018,POS DEBIT COLLEGE TRANSCRIPT ...,-14.00,MISC_DEBIT,,NaN
1,DEBIT,07/24/2018,POS DEBIT BLENZ COFFEE WEST HAS...,-9.25,MISC_DEBIT,,NaN
2,DEBIT,07/24/2018,POS DEBIT CITY OF VAN PAYBYPHON...,-2.44,MISC_DEBIT,,NaN
3,DEBIT,07/24/2018,POS DEBIT CITY OF VAN PAYBYPHON...,-2.42,MISC_DEBIT,,NaN
4,CREDIT,07/24/2018,ORIG CO NAME:KEY CR. TRANSFER CO ENTRY DESCR:O...,1103.00,ACH_CREDIT,,NaN
5,CREDIT,07/24/2018,PYMT RCVD PAYPAL*LOFTUS ALEXAND...,572.75,MISC_CREDIT,,NaN
6,DEBIT,07/23/2018,THE HORSESHOE CAFE BELLINGHAM WA 0...,-17.20,DEBIT_CARD,134.61,NaN
7,DEBIT,07/23/2018,HAGGEN #3449 BELLINGHAM WA 416798 0...,-39.22,DEBIT_CARD,151.81,NaN
8,DEBIT,07/23/2018,HAGGEN #3449 BELLINGHAM WA 402487 0...,-14.89,DEBIT_CARD,191.03,NaN
9,DEBIT,07/23/2018,THE SANDWICH ODYSSEY BELLINGHAM WA 0...,-13.00,DEBIT_CARD,205.92,NaN

In [30]:
df2 = df[df.Amount < -500]
df2.drop(['Type', 'Balance', 'Check or Slip #', 'Details'], axis=1, inplace=True)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [31]:
df2['Posting Date'] = pd.to_datetime(df['Posting Date'])

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
df2.set_index('Posting Date', inplace=True)

In [39]:
df.drop(['Details', 'Type', 'Balance', 'Check or Slip #'], axis=1, inplace=True)

In [52]:
df.set_index(pd.to_datetime(df['Posting Date']), inplace=True)

In [58]:
df.drop('Posting Date', inplace=True)

In [67]:
df.drop('Posting Date', axis=1, inplace=True)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
df[(df['Amount'] < -500) | (df['Amount'] > 500)]['2017-10-01':'2017-04-01']

                                                    Description   Amount
Posting Date
2017-09-25    PAYPAL           INST XFER  NEKOKIN         WE...  -535.00
2017-09-20    KEY CR. TRANSFER ONLINE-BK  017262172295647 WE...   775.00
2017-09-06                                     WITHDRAWAL 09/06  -535.00
2017-08-23    KEY CR. TRANSFER ONLINE-BK  017234832356136 WE...  1150.00
2017-07-26    PAYPAL           INST XFER  HAYLEYGG689     WE...  -625.00
2017-07-25    KEY CR. TRANSFER ONLINE-BK  017205722656729 WE...  1150.00
2017-06-27    PAYPAL           INST XFER  HAYLEYGG689     WE...  -625.00
2017-06-20    KEY CR. TRANSFER ONLINE-BK  017170535047993 WE...  1150.00
2017-05-30    PAYPAL           INST XFER  HAYLEYGG689     WE...  -625.00
2017-05-23    KEY CR. TRANSFER ONLINE-BK  017142522049488 WE...  1150.00
2017-04-27    PAYPAL           INST XFER  HAYLEYGG689     WE...  -625.00
2017-04-25    KEY CR. TRANSFER ONLINE-BK  017114117728049 WE...  1136.67
2017-04-19    KEY CR. TRANSFER ONLINE-BK  017108890677584 WE...   585.00
2017-04-17    Chase QuickPay Electronic Transfer 6156767891 ...  -540.00
2017-04-17    Online Transfer from SAV ...9660 transaction#:...   540.00
2017-04-10    PAYPAL           INST XFER  HAYLEYGG689     WE...  -625.00